<main x-data="balades" class="min-h-screen mt-16 md:mt-8" data-markers="{{ dataString }}" id="maincarto">
    {{ include('@Visit/balade/WalkFilterMobile.html.twig') }}
    {{ include('@Visit/balade/WalkPreview.html.twig') }}

    <div class="mx-auto max-w-full px-0 py-8 sm:px-6 sm:py-12 lg:px-8">
        <div class="border-b border-gray-200 pb-6 px-4 sm:px-0">
            <h1 class="hidden md:block montserrat-medium
        mx-auto max-w-max
        bg-slate-400
        bg-linear-to-r from-carto-pink via-carto-main to-carto-gray200
        bg-clip-text text-transparent
        bg-size-[250px_100%] bg-no-repeat
        px-10 py-1 text-center text-4xl font-bold
        animate-shimmer">
                Réseau balades Marche-en-Famenne
            </h1>
            <h1 class="text-2xl md:text-4xl font-bold montserrat-medium tracking-tight text-carto-pink">Carte
                dynamique</h1>
            <p class="mt-4 text-2xl text-carto-main lobster-two-regular-italic">
                Vous trouverez sur cette carte les balades à pied, à vélo au sein de la commune de Marche-en-Famenne.
            </p>
            <p class="mt-2 text-xl text-carto-pink lobster-two-regular-italic hover:text-carto-main">
                <a href="/fr/categorie/balades/">Consultez aussi nos balades sous forme de liste</a>
            </p>
        </div>
        <div class="pt-8 grid grid-cols-1 lg:gap-x-8 lg:grid-cols-[auto_minmax(0,1fr)]">
            {{ include('@Visit/balade/WalkFilterXl.html.twig') }}
            <div class="mt-6 lg:mt-0">
                <h2 class="text-xl lg:text-3xl text-carto-pink py-3 px-3" id="count-result">
                    <span x-text="walksCount"></span> balades trouvées
                </h2>
                <div x-show="menuSelected === 'list'">
                    {#  {{ include('@Visit/balade/VisitList.html.twig') }} #}
                    {#     <VisitList :data/> #}
                </div>
                {{ include('@Visit/balade/MapWalk.html.twig') }}
            </div>
        </div>
    </div>
</main>
