<!--
  offer Details dialog
-->
<div x-show="previewOpen" class="relative z-1000" role="dialog" aria-modal="true" x-transition>
    <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div x-show="previewOpen" class="fixed inset-0 bg-carto-main bg-opacity-25 backdrop-blur-sm"></div>
    <div class="fixed inset-0 flex">
        <!--
          Off-canvas menu, show/hide based on off-canvas menu state.

          Entering: "transition ease-in-out duration-300 transform"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div x-show="previewOpen" x-cloak
             class="relative ml-auto flex h-full w-full max-w-md flex-col overflow-y-auto bg-white shadow-xl">
            <section class="flex flex-col w-full h-full">
                {{ include('@VisitTail/balade/_headerPreview.html.twig') }}
                <div class="flex flex-col flex-auto gap-2 p-3">
                    <h3 class="lg roboto-bold">DETAILS DU PARCOURS</h3>
                    <h4 class="montserrat-semi-bold text-cta-dark">Point de départ</h4>
                    <address class="flex flex-row items-center gap-2">
                        <img src="{{ template_uri() }}/assets/images/map/navigation.svg" alt="icon">
                        <span x-text="offerSelected?.address.rue"></span>
                        <span x-text="offerSelected?.localite"></span>
                    </address>
                    <template x-if="offerSelected?.webs?.length > 0 ">
                        <div class="flex flex-col items-center gap-2">
                            <p class="">Site web</p>
                            <template x-for="(web, index) in offerSelected?.webs" :key="index">
                                <a :href="web.value" target="_blank"
                                   class="" x-text="web.value"></a>
                            </template>
                        </div>
                    </template>

                    <div class="flex flex-row items-center gap-2">
                        <span class="montserrat-semi-bold text-cta-dark">Durée:</span>
                        <span class="flex flex-row" x-text="offerSelected?.gpx_duree">
                            <img src="{{ template_uri() }}/assets/images/map/clock.svg" alt="icon">
                        </span>
                    </div>

                    <div class="flex flex-row items-center gap-2">
                        <span class="montserrat-semi-bold text-cta-dark">Difficulté:</span>
                        <span class="flex flex-row"
                              x-text="offerSelected?.gpx_difficulte">
                            <img src="{{ template_uri() }}/assets/images/map/graph.svg" alt="icon">
                        </span>
                    </div>
                    <div class="flex flex-row items-center gap-2">
                        <span class="montserrat-semi-bold text-cta-dark">Distance (Km):</span>
                        <span class="flex flex-row">
                            <span x-text="offerSelected?.gpx_distance"></span>
                            <img src="{{ template_uri() }}/assets/images/map/walk.svg" alt="icon">
                        </span>
                    </div>

                    <h4 class="montserrat-semi-bold text-cta-dark">Télécharger (Gpx):</h4>
                    <template x-for="(walk,index) in offerSelected?.walks" :key="index" class="flex flex-col">
                        <a class="text-base" :href="walk.url" target="_blank" x-text="walk.codeCgt"></a>
                    </template>

                    <a :href="offerSelected?.url"
                       target="_blank"
                       class="flex flex-row text-carto-pink mt-3" x-text="`Détails de la balade`">
                        <img src="{{ template_uri() }}/assets/images/map/link.svg" alt="icon">
                    </a>

                    <img :src="offerSelected?.image" class="" alt="img"/>
                </div>
                <footer class="h-12 bg-carto-green text-white flex flex-col w-full p-3">visitmarche.be</footer>
            </section>
        </div>
    </div>
</div>