<li>
    <a href="/{{ locale }}" class="px-3 py-2  font-medium text-gray-700 hover:text-gray-900 rounded-md hover:bg-gray-50 transition-colors">{{ 'menu.home'|trans }}</a>
</li>
<li>
    <a href="{{ items.idees.url }}" class="px-3 py-2  font-medium text-gray-700 hover:text-gray-900 rounded-md hover:bg-gray-50 transition-colors">{{ items.idees.name }}</a>
</li>
<li>
    <a href="{{ items.inspirations.url }}" class="px-3 py-2  font-medium text-gray-700 hover:text-gray-900 rounded-md hover:bg-gray-50 transition-colors">{{ items.inspirations.name }}</a>
</li>
<li>
    <a href="{{ items.agenda.url }}" class="px-3 py-2  font-medium text-gray-700 hover:text-gray-900 rounded-md hover:bg-gray-50 transition-colors">{{ items.agenda.name }}</a>
</li>
<li class="relative group">
    <a href="#" class="inline-flex items-center gap-1 px-3 py-2  font-medium text-gray-700 hover:text-gray-900 rounded-md hover:bg-gray-50 transition-colors">
        {{ items.sorganiser.name }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-4">
            <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"/>
        </svg>
    </a>
    <ul class="list-none invisible group-hover:visible opacity-0 group-hover:opacity-100 absolute left-0 top-full mt-1 w-48 bg-white rounded-md shadow-lg ring-1 ring-black/5 py-1 transition-all duration-150 z-50">
        <li>
            <a href="{{ items.savourer.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.savourer.name }}</a>
        </li>
        <li>
            <a href="{{ items.barbecue.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.barbecue.name }}</a>
        </li>
        <li>
            <a href="{{ items.sejourner.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.sejourner.name }}</a>
        </li>
        <li>
            <a href="{{ items.mice.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.mice.name }}</a>
        </li>
    </ul>
</li>
<li class="relative group">
    <a href="#" class="inline-flex items-center gap-1 px-3 py-2  font-medium text-gray-700 hover:text-gray-900 rounded-md hover:bg-gray-50 transition-colors">
        {{ items.decouvrir.name }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-4">
            <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"/>
        </svg>
    </a>
    <ul class="list-none invisible group-hover:visible opacity-0 group-hover:opacity-100 absolute left-0 top-full mt-1 w-48 bg-white rounded-md shadow-lg ring-1 ring-black/5 py-1 transition-all duration-150 z-50">
        <li>
            <a href="{{ items.arts.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.arts.name }}</a>
        </li>
        <li>
            <a href="{{ items.balades.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.balades.name }}</a>
        </li>
        <li>
            <a href="{{ items.fetes.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.fetes.name }}</a>
        </li>
        <li>
            <a href="{{ items.gourmandises.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.gourmandises.name }}</a>
        </li>
        <li>
            <a href="https://circuit-court.marche.be/" target="_blank" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ 'local.products'|trans }}</a>
        </li>
        <li>
            <a href="{{ items.patrimoine.url }}" class="block px-4 py-2  text-gray-700 hover:bg-gray-100">{{ items.patrimoine.name }}</a>
        </li>
    </ul>
</li>
<li>
    <a href="{{ items.pratique.url }}" class="px-3 py-2  font-medium text-gray-700 hover:text-gray-900 rounded-md hover:bg-gray-50 transition-colors">{{ items.pratique.name }}</a>
</li>
<li>
    <a href="#" class="p-2 text-gray-500 hover:text-gray-700 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
        </svg>
    </a>
</li>
