{% if latitude and longitude %}

    <div id="openmap_offre" class="my-3 h-[25rem] xl:h-[35rem] w-4/5 mx-auto"
         data-latitude="{{ latitude }}"
         data-longitude="{{ longitude }}"
         data-locations="{{ locations|json_encode }}"
         data-pois="{{ offre.pois|json_encode }}">
    </div>

    <script type="module" src="{{ template_uri() }}/assets/js/dist/js/map.js">

    </script>
{% endif %}