{% if offer.dates|length > 0 %}
    <h3 class="font-montserrat-semi-bold text-cta-light text-md border-bottom">
        {{ 'Date(s)'|trans }}
    </h3>
    <h3 class="font-montserrat-semi-bold text-cta-light text-md">
        Quand ?
    </h3>
    <ul class="font-montserrat-semi-bold text-cta-dark flex flex-col gap-2 not-prose">
        {% for dateEvent in offer.dates %}
            <li class="flex flex-row gap-2">
                {% if dateEvent.isSingleDay() %}
                    {% if dateEvent.startDate %}
                        <span>{{ dateEvent.startDate|format_date('full') }}</span>
                    {% endif %}
                {% else %}
                    {% if dateEvent.dateRange %}
                        <span>{{ dateEvent.dateRange }}</span>
                    {% else %}
                        Du {{ dateEvent.startDate|format_date('full') }}  au {{ dateEvent.endDate|format_date('full') }}
                    {% endif %}
                {% endif %}

                {% if dateEvent.openingHour1 %}
                    <span>{{ dateEvent.openingHour1 }}</span>
                {% endif %}

                {% if dateEvent.closingHour1 %}
                    <span>{{ dateEvent.closingHour1 }}</span>
                {% endif %}

                {% if dateEvent.openingHour2 %}
                    <span>{{ dateEvent.openingHour2 }}</span>
                {% endif %}

                {% if dateEvent.closingHour2 %}
                    <span>{{ dateEvent.closingHour2 }}</span>
                {% endif %}

                {% if dateEvent.openingDetails %}
                    <span>{{ dateEvent.openingDetails|raw }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
