{% if(dateEvent.openingHour1 or dateEvent.openingDetails) %}

        <span class="font-montserrat-semi-bold text-cta-light">Heure(s)</span>
        {% if dateEvent.openingHour1 %} {{ dateEvent.openingHour1 }}h         {% endif %}
        {% if dateEvent.closingHour1 %} - {{ dateEvent.closingHour1 }}h         {% endif %}

        {% if dateEvent.openingHour2 %}<br/> {{ dateEvent.openingHour2 }}h         {% endif %}
        {% if dateEvent.closingHour2 %} - {{ dateEvent.closingHour2 }}h         {% endif %}

        {% if dateEvent.openingDetails %} {{ dateEvent.openingDetails|raw }}         {% endif %}

{% endif %}
