<div class="flex flex-row gap-2  items-center justify-center">
    {% if image %}
        <img alt="logo" src="{{ image|raw }}" style="width: 50px;">
    {% endif %}
    <div class="flex flex-row gap-2 items-center justify-center">
        <span><i class="ti ti-walk"></i> <strong>Distance :</strong> {{ offer.gpx_distance }} km</span>
        {% if offer.gpx_difficulte != '' %}
            <span><i class="ti ti-trekking"></i> <strong>Difficulté :</strong> {{ offer.gpx_difficulte }}</span>
        {% endif %}
        {% if offre.adresse %}
            <span>
            <i class="ti ti-clock"></i> <strong>
                Départ:</strong> {{ offre.adresse.rue }} {{ offre.adresse.localite.get('fr') }}
        </span>
        {% endif %}
    </div>
</div>