{% if filters|length > 1 %}
    <nav aria-label="Filtres par catégorie">
        <ul role="list">
            <li
                :class="activeFilter === null ? 'bg-cta-dark text-white' : 'hover:bg-cta-dark hover:text-white'">
                <a href="{{ parentCategoryUrl }}"
                   :aria-current="activeFilter === null ? 'true' : 'false'"
                   @click.prevent="showAll()">
                    Tout
                </a>
            </li>
            {% for item in filters %}
                <li
                    :class="activeFilter === {{ item.id }} ? 'bg-cta-dark text-white' : 'hover:bg-cta-dark hover:text-white'">
                    <a href="{{ item.url }}"
                       :aria-current="activeFilter === {{ item.id }} ? 'true' : 'false'"
                       @click.prevent="fetchCategory({{ item.id }})">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
