<div class="wrap">
    <div class="icon32" id="icon-edit"><br></div>
    <h2>Tri des {{ posts|length }} articles pour la catégorie
        <a href="{{ url }}"> {{ category.name }}</a></h2>

    <div id="ajax-response"></div>

    <div id="order-post-type">
        <ul id="sortable">
            {% for post in posts %}
                <li class="ui-sortable-handle" id="item_{{ post.id }}" name="item[]" data-id="{{ post.id }}">
                    <span>{{ post.name }} {{ post.id }}</span>
                </li>
            {% endfor %}
        </ul>

        <div class="clear"></div>
    </div>

    <p class="submit">
        <a href="#" id="save-order" class="button button-primary">
            Sauvegarder
        </a>
    </p>

    <script type="text/javascript">

        function send() {
            const list = document.getElementById('sortable')
            const elements = list.querySelectorAll('li');
            const items = []
            elements.forEach(element => items.push(element.dataset.id));

            jQuery.post(ajaxurl, {
                action: 'acupdate-sort',
                items: JSON.stringify(items),
                cat_id: {{ category.cat_ID }}
            }, function () {
                jQuery('#ajax-response')
                    .html('<div class="message updated fade"><p>L\' ordre a bien été enregistré</p></div>');
                jQuery('#ajax-response div')
                    .delay(3000)
                    .hide('slow');
            });
        }

        jQuery(document)
            .ready(function () {
                jQuery('#sortable')
                    .sortable({
                        update: function (event, ui) {
                            send();
                        },
                        cursor: 'pointer',
                        items: 'li',
                        nested: 'ul'
                    });

                jQuery('#sortable')
                    .disableSelection();
            });
    </script>

</div>
