<div class="shadow-md p-4">
    <h2 class="py-2 px-4 xl:p-4 text-center font-montserrat-bold text-2xl text-grey-dark lg:text-left">
        {{ 'agenda.name'|trans }}
    </h2>
    <ul>
        {% for event in events %}
            <li>
                <a href="{{ event.url }}"
                   class="grid grid-cols-[5rem_1fr] xl:grid-cols-[10rem_1fr] my-2 border border-borderjf rounded-lg hover:border-cta-light transition-all duration-500">
                    <div
                            class="flex flex-col justify-center items-center py-2 border-x hover:bg-cta-light hover:text-white transition-all duration-500">
                        <span class="text-xl font-extrabold">{{ event.shortCutDateEvent["day"] }}</span>
                        <span class="font-semibold">{{ event.shortCutDateEvent["month"] }}</span>
                        <span class="font-semibold">{{ event.shortCutDateEvent["year"] }}</span>
                    </div>
                    <div class="flex flex-col items-start justify-center py-2 px-8">
                        <span>{{ event.name }}</span>
                        <span class="text-gray-500">{{ event.locality }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<a
        class="mt-4 ml-auto mr-2 flex block w-72 items-center justify-center font-montserrat-semi-bold text-cta-light transition-all duration-700 hover:mr-8"
        href="{{ urlAgenda }}"
        title="Tout l'agenda">
    {{ 'events.all'|trans }}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
    </svg>
</a>