<div>
    <h2>
        {{ 'agenda.name'|trans }}
    </h2>
    <ul>
        {% for event in events %}
            <li>
                <a href="{{ event.url }}">
                    <div>
                        <span>{{ event.shortCutDateEvent["day"] }}</span>
                        <span>{{ event.shortCutDateEvent["month"] }}</span>
                        <span>{{ event.shortCutDateEvent["year"] }}</span>
                    </div>
                    <div>
                        <span>{{ event.name }}</span>
                        <span>{{ event.locality }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<a
        href="{{ urlAgenda }}"
        title="Tout l'agenda">
    {{ 'events.all'|trans }}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
    </svg>
</a>