<ul class="animate-bouncejf mx-auto xl:w-full flex flex-wrap xl:flex-nowrap justify-center xl:max-w-156 pt-16 gap-y-2">
    {% for icone in icones %}
        <li class="flex justify-center items-center w-[33%] basis-1/3 xl:w-[20%] xl:basis-1/5 text-center ml-2">
            <a href="{{ icone.url }}">
                <img class="bg-cta-light h-14 w-14 rounded-full mx-auto {{ icone.colorHover }}"
                     src="{{ template_uri() }}/assets/tartine/{{ icone.imageWhite }}" alt="{{ icone.slug }}"/>
                <span class="text-white mx-auto font-semibold tracking-wider">{{ icone.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>