<ul>
    {% for icone in icones %}
        <li>
            <a href="{{ icone.url }}">
                <img
                     src="{{ template_uri() }}/assets/tartine/{{ icone.imageWhite }}" alt="{{ icone.slug }}"/>
                <span>{{ icone.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>