<h2>
    {{ 'ideas.home'|trans }}
</h2>
<section>
    {% for idea in ideas %}
        <a href="{{ idea.url }}">
            <img
                    src="{{ template_uri() }}/assets/images/ideas/{{ idea.img }}"
                    alt="idea.img"/>
            <div></div>
            <div>
                <span>
                    {{ idea.description }}
                </span>
            </div>
        </a>
    {% endfor %}
</section>