<h2
>
    {{ 'inspiration.home'|trans }}
</h2>
{% if sortLink %}
    {{ include('@Visit/widgets/_sort_link.html.twig') }}
{% endif %}
<div>

    {% for key,item in inspirations %}
        {% if key == 0 or key == 3 %}
            {% set colspan =  'xl:col-span-2' %}
        {% else %}
            {% set colspan =  '' %}
        {% endif %}
        <div>
            <a href="{{ item.url }}">
                <div>
                    <h3>
                        {{ item.name }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<a
        href="{{ urlInspiration }}"
        title="Toutes les inspirations"
>
    {{ 'all.experiences'|trans }}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
    </svg>
</a>
