<div>
    <a href="https://www.tourismewallonie.be/">
        <img src="{{ template_uri() }}/assets/tartine/VISITWallonia.be.svg" alt="Wallonia"
             title="Visit Wallonia"/>
    </a>
    <a href="https://www.geoparkfamenneardenne.be/">
        <img src="{{ template_uri() }}/assets/tartine/geopark.png" alt="geopark"
             title="Geopark"/>
    </a>
    <a href="https://www.unesco.org">
        <img src="{{ template_uri() }}/assets/tartine/unesco.jpg" alt="unesco"
             title="Unesco"/>
    </a>
    <a href="https://www.famenneardenne.be/fr/">
        <img src="{{ template_uri() }}/assets/tartine/img_sponsor01.png" alt="famenne ardenne"
             title="Famenne Ardenne"/>
    </a>
    <a href="https://cap.marche.be/">
        <img src="{{ template_uri() }}/assets/tartine/img_sponsor02.png"
             title="Cap sur Marche"
             alt="famenne ardenne"/>
    </a>
    <a href="https://www.paysdefamenne.be/">
        <img src="{{ template_uri() }}/assets/tartine/img_sponsor03.png"
             alt="Pays de Famenne"/>
    </a>
    <a href="https://adl.marche.be" title="Agence de développement Local">
        <img src="{{ template_uri() }}/assets/tartine/img_sponsor04.png"
             alt="Agence de développement Local"/>
    </a>
    <a href="https://mcfa.marche.be/" title="Maison de la Culture Famenne Ardenne">
        <img src="{{ template_uri() }}/assets/tartine/img_sponsor05.png"
             alt="mcfa"/>
    </a>
    <a href="https://www.ardennebelge.be" title="Ardenne belge">
        <img src="{{ template_uri() }}/assets/tartine/ABT-logo-noir.png"
             alt="ardenne belge"/>
    </a>
</div>