<footer
>
    <div>
        <a href="/{{ locale }}">
            <img src="{{ template_uri() }}/assets/images/visit_logo.png"
                 alt="logo visit"/>
        </a>
        <a href="https://www.marche.be"
           title="template">
            <img src="{{ template_uri() }}/assets/images/marche_logo.png"
                 alt="logo ville"/>
        </a>
        <a href="https://visitwallonia.be/"
           title="template">
            <img src="{{ template_uri() }}/assets/images/VISITWalloniaBlanc.png"
                 alt="logo visit wallonia"/>
        </a>
    </div>
    <div>
        <h4>{{ 'menu.name'|trans }}</h4>
        <ul>
            <li>
                <a href="{{ items.idees.url }}">{{ items.idees.name }}</a>
            </li>
            <li>
                <a href="{{ items.inspirations.url }}">{{ items.inspirations.name }}</a>
            </li>
            <li>
                <a href="{{ items.sorganiser.name }}">{{ items.sorganiser.name }}</a>
            </li>
            <li>
                <a href="{{ items.agenda.url }}">{{ items.agenda.name }}</a>
            </li>
            <li>
                <a href="{{ items.pratique.url }}">{{ items.pratique.name }}</a>
            </li>
        </ul>
    </div>
    {% include '@Visit/footer/_shortcut.html.twig' %}
    <div>
        <h4>{{ 'menu.contact'|trans }}</h4>
        <div>
            {{ 'office.name'|trans }}<br/>
            <a href="tel:+3284326946">+32(0)84 32 69 46</a><br/>
            {{ 'hours.week'|trans }} {{ 'hours.week_time'|trans }}<br/>
            {{ 'hours.friday'|trans }} {{ 'hours.friday_time'|trans }}<br/>
        </div>
        {% include '@Visit/header/_icones_social.html.twig' %}
    </div>
    {% include '@Visit/footer/_copyright.html.twig' %}
</footer>
{% include '@Visit/footer/_analytics.html.twig' %}