{% if offre.datesEvent|length > 0 %}
    <h3 class="font-montserrat-semi-bold text-cta-light text-md border-bottom">
        {{ 'Date(s)'|trans }}
    </h3>
    <div class="flex flex-col gap-2 mb-2">
        {% for dateEvent in offre.datesEvent %}
            <span class="font-montserrat-semi-bold text-cta-dark">
                {% if dateEvent.isSameDate %}
                    {{ dateEvent.dateBegin|format_date('full')|title }}
                {% else %}
                    {{ 'from'|trans }} {{ dateEvent.dateRealBegin|format_date('full') }} {{ 'until'|trans }} {{ dateEvent.dateEnd|format_date('full') }}
                {% endif %}
                {% if dateEvent.dateRange %}
                    <br> {{ dateEvent.dateRange }}
                {% endif %}
            </span>
            {% include '@VisitTail/offre/_date_details.html.twig' %}
        {% endfor %}
    </div>
{% endif %}
