<nav x-cloak
     x-show="menuMobileIsOpen"
     class="xl:hidden fixed bg-cta-dark bottom-0 left-0 right-0 h-full w-full transition-all duration-500"
     :class="
        menuMobileIsOpen
          ? 'top-0'
          : 'top-full'"
     id="menu-organise">

    <ul
            class="flex flex-col items-center justify-center h-full mt-3 box-border">
        <li
                class="border-b border-white/50 mb-2 xl:hidden py-1 initial w-full xl:w-auto flex flex-col xl:basis-full font-montserrat-semi-bold leading-10 xl:leading-8 text-white">
            <h3 class="flex justify-between items-center ml-6 mr-6 whitespace-nowrap">
                <span>{{ 'menu.name'|trans }}</span>
                <button @click="menuMobileIsOpen=false">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </h3>
        </li>
        {% for icon in icons %}
            <li class="hover:text-cta-light mt-4">
                <a href="{{ icon.url }}" class="p-2">{{ icon.name }}</a>
            </li>
        {% endfor %}
        <li class="hover:text-cta-light mt-4">
            <a href="{{ items.inspirations.url }}" class="p-2">{{ items.inspirations.name }}</a>
        </li>
        <li class="hover:text-cta-light mt-4">
            <a href="{{ items.idees.url }}" class="p-2">{{ items.idees.name }}</a>
        </li>
        <li class="hover:text-cta-light mt-4">
            <a href="{{ items.agenda.url }}" class="p-2">{{ items.agenda.name }}</a>
        </li>
        <li class="hover:text-cta-light mt-4">
            <a href="{{ items.decouvrir.url }}" class="p-2">{{ items.decouvrir.name }}</a>
        </li>
        <li class="hover:text-cta-light mt-4">
            <a href="{{ items.savourer.url }}" class="p-2">{{ items.savourer.name }}</a>
        </li>
        <li class="hover:text-cta-light mt-4">
            <a href="https://circuit-court.marche.be/" target="_blank" class="p-2">{{ 'local.products'|trans }}</a>
        </li>
        <li class="hover:text-cta-light mt-4">
            <a href="{{ items.barbecue.url }}" class="p-2">{{ items.barbecue.name }}</a>
        </li>
        <li class="hover:text-cta-light mt-4">
            <a href="{{ items.sejourner.url }}" class="p-2">{{ items.sejourner.name }}</a>
        </li>
        <li class="hover:text-cta-light mt-4 mb-6">
            <a href="{{ items.mice.url }}" class="p-2">{{ items.mice.name }}</a>
        </li>
    </ul>
</nav>