<div class="h-148">
    <div class="relative h-full w-full bg-linear-to-r from-pink-300/50 via-purple-300/50 to-indigo-400/50">
        {% if video is defined and video != '' %}
            <video class="w-full h-full object-cover object-center absolute mix-blend-overlay" controls autoplay loop
                   muted>
                <source
                        src="{{ video }}"
                        type="video/mp4"
                        poster="{{ image.url }}"
                />
                <img class="w-full h-full object-cover object-center absolute mix-blend-overlay"
                     src="{{ image.url ?? '' }}" alt=""/>
            </video>
        {% else %}
            <img class="w-full h-full object-cover object-center absolute mix-blend-overlay"
                 src="{{ image.url ?? '' }}" alt=""/>
        {% endif %}

        <div class="flex flex-col px-6 absolute left-0 bottom-4">
            <h2 class="text-white font-montserrat-semi-bold text-3xl mb-3">
                {{ categoryName ?? '' }}
            </h2>
            <a href="{{ urlBack ?? '/' }}"
               class="flex flex-inline items-center font-montserrat-regular text-body self-start bg-party rounded-lg p-2 hover:text-cta-light group">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 inline transition group-hover:-translate-x-1 group-focus:-translate-x-1"
                     viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                          clip-rule="evenodd"/>
                </svg>
                {{ 'url.back'|trans }} {{ nameBack ?? '' }}</a>
        </div>
    </div>
</div>
