<div>
    <h4>{{ 'article.recommandation'|trans }}</h4>
    <div>
        <ul role="list">
            {% for item in recommandations %}
                <li>
                    <a href="{{ item.url }}">
                        <div>
                            <img src="{{ item.image }}" alt="" loading="lazy"/>
                        </div>
                        <div>
                            <div>
                            <span>
                              {{ item.name }}
                            </span>
                                <div>
                                    {% for tag in item.tags|slice(0, 3) %}
                                        <span>
                                            {{ tag.name }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>